<?xml version="1.0" encoding="UTF-8"?>
<beans>
	<bean id="UserDao" class="store.dao.impl.UserDaoImpl"></bean>
	<bean id="CategoryDao" class="store.dao.impl.CategoryDaoImpl"></bean>
	<bean id="ProductDao" class="store.dao.impl.ProductDaoImpl"></bean>
	<bean id="OrderDao" class="store.dao.impl.OrderDaoImpl"></bean>
	<bean id="MenuDao" class="store.dao.impl.MenuDaoImpl"></bean>
	
	<bean id="UserService" class="store.service.impl.UserServiceImpl"></bean>
	<bean id="CategoryService" class="store.service.impl.CategoryServiceImpl"></bean>
	<bean id="ProductService" class="store.service.impl.ProductServiceImpl"></bean>
	<bean id="OrderService" class="store.service.impl.OrderServiceImpl"></bean>
	<bean id="MenuService" class="store.service.impl.MenuServiceImpl"></bean>
</beans>